@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
:root {
  --template-light: #ffffff;
  --template-dark: #000000;
  --template1: #ff9fbf;
  --template2: #80a79b;
  --template3: #fab600;
  --template4: #5078bf;
  --main-bg: #e9f7f3;
  --template-font-1: "Poppins";
}
h1 {
  letter-spacing: 4px;
}
.h2 {
  letter-spacing: 3px;
}
.site-header {
  display: flex;
  justify-content: space-between;
  font-family: var(--template-font-1);
  margin: 18px;
  padding: 20px 10px 0px 10px;
  align-items: center;
}
.site-header:before {
  transform: translate(-11px, -28px) !important;
}
.top-menu-items {
  display: flex;
  padding: 10px 0px;
}

.section {
  height: 50vh;
  opacity: 1;
}
.section.zero {
  opacity: 0 !important;
  transition: opacity 1s !important;
}

.strip {
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute !important;
  cursor: move;
}
.strip.selected,
.strip.hovered {
  z-index: 999999;
}

.hero2 {
  background-size: cover;
  background-color: var(--template-dark);
  background-position: 0px;
  background-repeat: no-repeat;

  color: var(--template-light) !important;
  padding: 30px;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.hero3 {
  background-image: url("./Images/hero3.jpeg");
  background-size: cover;
  background-color: var(--template-dark);
  background-position: 0px;
  background-repeat: no-repeat;

  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero3 .box {
  background-color: rgba(255, 255, 255, 0.801);
  background-position: 0px;
  background-repeat: no-repeat;
  height: 260px !important;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero3 .box .h1 {
  font-family: "serif", "DM Serif Display", serif;
  font-size: 40px;
  margin-top: 20px;
}
.hero3 .box .run {
  margin: 20px 40px;
  text-align: center;
}

.hero4 {
  background-size: cover;
  background-color: rgb(243, 243, 243);
  background-position: 0px;
  background-repeat: no-repeat;

  padding: 0px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: flex-start;
}

.hero4 .box {
  background-position: 0px;
  background-repeat: no-repeat;
  height: 260px !important;
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  z-index: -99999;
  justify-content: flex-start;
}
.hero4 .box .h1 {
  font-family: "serif", "DM Serif Display", serif;
  font-size: 40px;
  margin-left: 36px;
  color: rgb(237, 88, 41);
}

.hero4 .box .run {
  margin: 20px 40px;
  color: rgb(237, 88, 41);
}
.hero-img-4 {
  background-image: url("./Images/hero4.jpeg");
  width: 100%;
  background-position: bottom;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
.our-services {
  background-color: rgb(255, 255, 255);
  background-position: 0px;
  background-repeat: no-repeat;
  height: 60vh !important;

  box-sizing: content-box;
  padding: 30px;
  opacity: 1;

  flex-direction: column;
}
.our-services .h1 {
  font-family: "serif", "DM Serif Display", serif;
  font-size: 60px;
  margin-bottom: 20px;
  color: var(--template-dark);
}
.our-services .text {
  font-family: "serif", "DM Serif Display", serif;
  font-size: 17px;

  font-family: "Madefor";
  color: var(--template-dark);
  width: 430px;
  text-align: center;
}
#stage .button {
  font-family: "serif", "DM Serif Display", serif;
  font-size: 17px;
  width: 120px;
  font-family: "Madefor";
  color: white;
  background-color: rgb(237, 88, 41);
  padding: 12px 24px;
  margin-top: 36px;
  text-align: center;
}
.hero4 .button {
  font-family: "serif", "DM Serif Display", serif;
  font-size: 17px;
  width: 120px;
  font-family: "Madefor";
  color: var(--template-light);
  background-color: var(--template-dark);
  padding: 12px 24px;
  margin-top: 36px;
  margin-left: 40px;
  text-align: center;
}
.button2 {
  color: rgb(255, 75, 55);
  background-color: rgba(255, 255, 255, 0.787);
  padding: 12px 24px;
  margin-top: 36px;
  text-align: center;
  border-radius: 3px;
}
.button2 span.text {
  font-size: 17px;
  font-weight: 600;
  font-family: "Madefor Display";
  color: rgb(255, 75, 55);

  text-align: center;
}
#stage .logo {
  font-size: 19px;
  font-family: "DM Serif Display", "serif", serif;
  font-family: "serif";
  letter-spacing: 2px;
  font-weight: 900;
  color: var(--template-dark);
  cursor: default;
}

.element-contaoner.section {
  position: relative;
}
#stage *,
#editor * {
  user-select: none;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
.left-tooltip-add ul {
  top: 110px;
  left: 320px;
  width: 130px;
}
.top-tooltip-set ul {
  left: unset !important;
  right: unset !important;
  top: 60px !important;
  left: calc(100vw - 361px) !important;
  width: 130px;
}
.tttp {
  z-index: 999999999999;
}
.tttp ul {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 18px 18px 0px;
  top: 89px;
  left: 55px;
  width: 130px;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 14px 0px;
  border-radius: 6px;
  z-index: 99999999999;
}
.tttp li {
  margin-bottom: 18px;
}
.tttp {
  z-index: 999999999;
}
.tttp li:hover {
  color: var(--blue--main);
  cursor: pointer;
}
.tttp.hidden {
  opacity: 0;
  pointer-events: none;
}

.Main {
  grid-area: Main;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.Right {
  grid-area: Right;
  border-right: 1px dashed var(--template-dark);
  transform: translate(1px, 0px);
}
.Left {
  border-left: 1px dashed var(--template-dark);
  grid-area: Left;
  transform: translate(-1px, 0px);
}
.place-holder {
  height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: height 0.25s;
}

#stage:not(.hide-ph) .place-holder.dropped.on:after {
  content: "";
  position: absolute;
  height: calc(606px - 32px);
  z-index: 0;
  transition: all 0.2s;
  border: 2px dashed #4678ee;
  width: calc(100% - 89px);
}
#stage:not(.hide-ph) .place-holder.on {
  height: 128px;
  background-color: rgb(237, 244, 255);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  font-size: 24px;
  font-weight: 500;
  color: #4678ee;
}
#stage:not(.hide-ph) .place-holder.on:after {
  content: "";
  position: absolute;
  height: calc(128px - 32px) !important;
  z-index: 0;
  transition: all 0.2s;
  border: 2px dashed #4678ee;
  width: calc(100% - 89px);
}
.liteMode #stage:not(.hide-ph) .place-holder.on:after {
  content: "";
  position: absolute;
  height: calc(128px - 32px);
  z-index: 0;
  transition: all 0.2s;
  border: 2px dashed #4678ee;
  width: calc(100% - 28px);
}
#stage:not(.hide-ph) .place-holder.on.inme {
  height: 146px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  font-size: 24px;
  color: #4678ee;
  background-color: rgb(215, 230, 255);
  transition: height 0.2s;
  overflow: visible;
  z-index: 9999999;
}
#stage:not(.hide-ph) .place-holder.on.inme:after {
  content: "";
  position: absolute;
  height: calc(146px - 32px) !important;
  z-index: 0;

  border: 2px dashed #4678ee;
}

/* #stage:not(.hide-ph) .place-holder.on.inme * {
  opacity: 0;
}
#stage:not(.hide-ph) .place-holder.on.inme:after {
   content: "";
  position: absolute;
  height: calc(146px - 32px);
  z-index: 0;

  border: 2px dashed #4678ee; 
  opacity: 0;
} */
.cat-hr {
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 90%;
  background-color: white;
  border: none;
  border-bottom: 1px solid #e4e4e4;
}

.hero5 {
  background-color: var(--template-dark);
  height: 300px;
}
.hero5 .h1 {
  font-family: "serif", "DM Serif Display", serif;
  font-size: 30px;
  background-color: var(--template-dark);
}

.hero5 .run {
  margin-top: 20px;
  width: 400px;
}
.hero5 * {
  color: var(--template-light);
}

#s0 {
  position: relative;
}
#s1 {
  position: relative;
}
.introduction {
  height: 700px;
}
.shows {
  height: 1200px;
}
.about {
  height: 800px;
  background-color: var(--template-light);
}

.contact-section {
  height: 600px;
  background-color: var(--template-light);
}

.switch1-section {
  background-color: var(--template-light);
  height: 460px;
}
.switch1-section .strip {
  background-color: #061645 !important;
}

.switch1-section .container-980 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.switch1-section .h1 {
  font-size: 60px !important;
  line-height: 100px;
  font-weight: 900;

  color: var(--template-light);
}
.switch1-section h1.h2 {
  font-size: 30px !important;
  line-height: 30px !important;
  font-weight: 900;
  opacity: 0.7;
  letter-spacing: 8px;
  color: var(--template-light);
}
.switch1-section .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.switch1-section .run {
  margin: 10px 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
  color: var(--template-light) !important;
}
.switch1-section .button-drag {
  margin-top: 30px;
}

.about2 {
  background-color: var(--template-light);
  height: 700px;
}
.about2 .container-980 {
  width: 100%;
  display: flex;
}
.about2 .text-content {
  padding-top: 8% !important;
}
.about2 .text-content div,
.about2 .text-content h1 {
  text-align: left;
}
.about2 .strip {
  background-color: #061645;
}
.about2 .left-image {
  width: 48%;

  height: 100%;
  background-position: center;
  background-size: cover;
}
.about2 img {
  transform: translate(0px, -1px) !important;
  width: 100%;
}
.about2 .h1 {
  font-size: 80px !important;
  line-height: 80px;
  font-weight: 900;
  margin-bottom: 30px;
}
.about2 h1.h2 {
  font-size: 40px !important;
  letter-spacing: 10px;

  margin-bottom: 40px;
}
.about2 .run {
  font-size: 18px !important;
}
.hero {
  display: flex;
  justify-content: center;
  background-color: var(--template2);
  width: 100%;
  height: 100%;
}
.hero h1 {
  display: flex;
  color: var(--template-light);
  font-size: 90px;
  font-family: var(--template-font-1);
}
.hero .h2 {
  display: flex;
  color: var(--template-light);
  font-size: 30px;
  font-weight: 900;
  font-family: var(--template-font-1);

  opacity: 0.5;

  letter-spacing: 3px;
}
.hero .table {
  margin-top: 30px;
}
.main {
  top: 0px;
  position: absolute !important;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg);
}
.main .left-image {
  height: 100%;
  z-index: 0;

  position: relative;
}

.main .container-980 {
  display: flex;
  justify-content: space-between;
}

.main .left-image img {
  width: 400px;
}
.main .text-content {
  transform: translate(0px, -30px);
  color: var(--template-light);
  z-index: 9999999999;
  padding-top: 220px;
}

.main .h1 {
  font-size: 130px !important;
  color: var(--template-dark);
  width: 0px;
  line-height: 110px;
  font-family: var(--template-font-1);
}
.main .h2 {
  font-size: 22px !important;
  color: var(--template-dark);
  font-family: var(--template-font-1);
  width: 0px;
  white-space: nowrap;
  font-weight: 700;
}

.main-2 {
  top: 0px;
  position: absolute !important;
  height: 900px;
  display: flex;
  justify-content: center;
  background-color: var(--template1);
}

.about2 .main-2 {
  height: 700px;
}

.contact-strip {
  top: 0px;
  position: absolute !important;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--template1);
  align-items: center;
}
.contact-strip .left-image img {
  height: 600px;
}

.contact-strip .text-content {
  color: var(--template-light);
  z-index: 9999999999;
  padding-top: 30px !important;
  padding-left: 60px;
}
.main-2 .left-image {
  height: 100%;
  z-index: 0;

  position: relative;
}

.main-2 .container-980 {
  display: flex;
  justify-content: space-arround;
}

.main-2 .left-image img {
  height: 700px;
  transform: translate(0px, 100px);
}

.main-2 .text-content {
  color: var(--template-light);
  z-index: 9999999999;
  padding-top: 220px;
  padding-left: 60px;
}

.main-2 h1 {
  font-size: 90px !important;
  color: var(--template-light);
  white-space: nowrap;
  width: 0px;
  font-family: var(--template-font-1);
}
.main-2 .run {
  font-family: var(--template-font-1);
  width: 400px;
  margin-top: 12px;
  line-height: 30px;
  font-weight: 200px;
  transform: translate(10px, 0px);
}
.main-2 .h2 {
  font-size: 36px !important;
  color: var(--template-light);
  opacity: 0.5;
  font-family: var(--template-font-1);
  width: 0px;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 10px;
}

.tmp-2 {
  height: 800px;
}

.tmp-2 .left-image img {
  height: 600px;
  transform: translate(0px, 100px);
}

.tmp-2 .text-content {
  color: var(--template-light);
  z-index: 9999999999;
  padding-top: 154px;
  padding-left: 60px;
}
.tmp-2 .h2 {
  letter-spacing: 10px;
}

.instagram {
  height: 660px;
}

.main-3 {
  position: absolute !important;
  z-index: 9999999999;
  display: flex;
  justify-content: center;

  background-color: var(--template-light);
}
.main-3 .container-980 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-3.row img {
  width: 250px;
  height: 250px;
}
.main-3 .content {
  color: var(--template-light);
  z-index: 9999999999;
}
.main-3 .content .row {
  display: flex;
  gap: 40px;
  flex-basis: 40px;
  transform: translate(-6%, 10px);
}
.main-3 .content .row img {
  width: 34%;
}

.main-3 h1 {
  text-align: center;
  font-size: 60px !important;
  color: var(--template-dark);
  white-space: nowrap;
  margin-bottom: 20px;
  font-family: var(--template-font-1);
}

.main-3 .h2 {
  text-align: center;
  font-size: 25px !important;
  color: var(--template-dark);

  font-family: var(--template-font-1);

  white-space: nowrap;
  font-weight: 700;
  color: var(--template1);
  margin-bottom: 10px;
}

.main-3 .button-drag {
  background-color: var(--template-light) !important;
  color: var(--template-dark);
  border: 1px solid var(--template-dark);
}
.press {
  height: 500px;
}

.main-4 {
  top: 0px;
  position: absolute !important;

  display: flex;
  justify-content: center;
  background-color: var(--template2);
}
.main-4 .container-980 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-4 .content {
  color: var(--template-light);
  z-index: 9999999999;
}

.main-4 .content .row {
  display: flex;
  gap: 50px;
  flex-basis: 40px;
  margin-top: 20px;
}
.main-4 .content .row img {
  width: 200px;
  margin-right: 20px;
}

.main-4 h1 {
  text-align: center;
  font-size: 90px !important;
  color: var(--template-dark);
  white-space: nowrap;

  font-family: var(--template-font-1);
}

.main-4 .h2 {
  text-align: center;
  font-size: 36px !important;
  color: var(--template-dark);

  font-family: var(--template-font-1);
  opacity: 0.5;
  white-space: nowrap;
  font-weight: 700;
  color: var(--template-light);
  letter-spacing: 10px;
  margin-bottom: 10px;
  margin-top: 150px;
}
.main-2 .h3 {
  font-size: 22px !important;
  margin-top: -30px;
}
.form-box {
  width: 380px;
}
.input-box {
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px solid var(--template-light);
  margin-right: 60px;
  width: 500px;
}
.input-box.msg {
  padding-bottom: 100px;
  width: 300px;
}
.input-box-full {
  padding: 20px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.096);
  margin-right: 60px;
  width: 500px;
}
.btm {
  align-self: center;
}

.main .nice-banner {
  font-family: var(--template-font-1);
  padding: 12px 26px;
  color: var(--template-light);
  background-color: var(--template1);
  font-size: 24px;
  font-weight: 900;
  white-space: nowrap;

  position: absolute;
}
.hero .nice-banner {
  transform: translate(0px, -10px);
  font-family: var(--template-font-1);
  padding: 12px 26px;
  color: var(--template2);
  margin-top: 13px;
  background-color: var(--template-light);
  font-size: 24px;
  font-weight: 900;
  white-space: nowrap;
  flex-basis: 0px;
  position: absolute;
}
.logo h1 {
  color: var(--template-dark);
  font-family: var(--template-font-1);
  font-size: 22px;
  font-weight: 900;
}
.prototype-panel {
  z-index: 9999999999 !important;
}

.bar2 {
  display: none;
  z-index: 999999999999999999;
}
.bar2 img {
  box-shadow: 0 7px 8px -4px rgb(0 0 0 / 15%), 0 12px 17px 2px rgb(0 0 0 / 10%),
    0 5px 22px 4px rgb(0 0 0 / 9%);
  border-radius: 4px;
}

.bar-btn2 {
  position: absolute;
  transform: translate(159px, 8px);
  z-index: 999999999999999999;
  font-family: HelveticaNeueW02-45Ligh;
  font-size: 14px;
  color: white;
  background-color: #136dff;
  padding: 5px 13px;
  border-radius: 100px;
  cursor: pointer;
  pointer-events: all;
}
.table-row {
  border-bottom: 1px solid #ffffff9c;
  align-items: center;
  padding: 50px 0px;
}
.date-day {
  font-size: 40px;
  flex-basis: 60px;
  font-family: var(--template-font-1);
  font-weight: 900;
  color: var(--template-light);
}
.table-row-left-side {
  width: 600px !important;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.date-month {
  flex-basis: 50px;
  font-family: var(--template-font-1);

  color: var(--template-light);
}
.event-title {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--template-font-1);
  font-weight: 900;
  color: var(--template-light);
}
.table-row-right-side {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--template-font-1);
  font-weight: 900;
  color: var(--template-light);
}
.stageAndWorkspace .bar2 {
  display: none !important;
}
.stageAndWorkspace #pages:not(:first-of-type) {
  display: none !important;
}
.liteMode #left-bar #pages:first-of-type {
  display: none !important;
}
[show-panel="apps"] .panel-wrapper {
  width: 700px !important;
  max-width: calc(100vw - 200px) !important;
}
.section.off {
  height: 0px !important;
  opacity: 0 !important;
  transition: height 4s;
  padding: 0px;
}
.section.off * {
  height: 0px !important;
  opacity: 0 !important;
  display: none;
}
.section.off .strip * {
  height: 0px !important;
  opacity: 0 !important;
}
.zoomMode .outside,
[panel-type="add-sections"] .outside {
  opacity: 0 !important;
  display: none;
  background: transparent;
}

.outside {
  height: 100%;
  width: 100vw;
  position: absolute;
  box-sizing: border-box;
  left: -60px;
  cursor: pointer;
  background: transparent;
  z-index: -1;
}

.floating-panel-frame {
  border-radius: 6px 6px 0px 0px;

  position: absolute;
  box-shadow: 0 0 14px 0 rgb(22 45 61 / 36%);
  top: 320px;
  left: 120px;
  z-index: 1000000000 !important;
  background-color: #ffffff;
  overflow-y: scroll;
  min-width: 270px;
  font-family: "Madefor";
  font-weight: 200;
}

.floating-panel-header {
  font-size: 16px;
  z-index: 100000000;
  font-family: "Madefor Display";
  color: black;
  background-color: white;
  height: 60px;
  min-width: 200px;
  display: flex;
  height: 51px;
  cursor: move;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-top: 6px solid var(--blue--main);
  border-bottom: 1px solid #e0e0e0;
}
.floating-panel-header > label {
  pointer-events: none;
  font-weight: 700;
}
.floating-panel-header > .actions {
  padding-top: 5px;
  display: flex;
  cursor: pointer;
}

.floating-panel-header > .actions > .button {
  margin: 8px;
  z-index: 2;
}
.floating-panel-header > .actions > .button.close {
  margin: 5px;
  transform: translate(-3px, 0px);
  z-index: 2;
}
.floating-panel-section {
  padding-left: 20px;
  padding-right: 20px;
}
.floating-panel-frame h1 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 8px;
  margin-top: 4px;
  cursor: text;
}
.floating-panel-frame h1:after {
  content: "";
  width: 100px;
  height: 33px;
  left: 12px;
  transform: translate(8px, -8px);
  border: 1px solid var(--blue--main);
  border-radius: 3px;
  position: absolute;
}
.floating-panel-frame p {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #424851;
}
.floating-panel-frame {
  padding-bottom: 0px;
  border-radius: 6px;
}

.floating-panel-frame.hide {
  opacity: 0;
  pointer-events: none;
}
.newest {
  display: none !important;
}
.container-980 {
  width: 980px;
}
.social {
  margin-top: 30px;
}
.social img {
  width: 200px;
}
.confetti {
  position: absolute;
  z-index: 9999999999 !important;
}
.confetti svg {
  max-width: 70px;
}
.conf-1 {
  transform: translate(10px, 40px);
}
.conf-2 {
  transform: translate(530px, 400px);
}

.conf-3 {
  transform: translate(950px, 90px);
}

.conf-4 {
}
.menu-item {
  margin-right: 25px;
}
.main-menu .menu-item {
  margin-right: 0px;
}
.menu-item div {
  height: 20px;
  font-size: 14px;
  border: 1px solid rgb(238, 238, 238);
}
.sec-title {
  font-size: 14px;
}
.edit-panel {
  opacity: 0;
  pointer-events: none;
  right: 0px;
  position: absolute;
  top: 88px;
  background-color: white;
  box-shadow: 0 7px 8px -4px rgb(0 0 0 / 10%), 0 12px 17px 2px rgb(0 0 0 / 6%),
    0 5px 22px 4px rgb(0 0 0 / 5%);
  width: 310px;
  z-index: 99999;
}
.button {
  cursor: pointer;
}
[panel-type="edit-panel"] .edit-panel {
  opacity: 1;
  pointer-events: all;
}

.edit-panel h3 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 3px;
}
.edit-panel .section-header {
  border-bottom: 1px solid #0000001c;

  padding: 10px;
  padding-top: 18px;
}
.edit-panel .change-layout {
  height: 161px;
  transform: translate(0px, 10px);
  background-image: url(./Images/alt0.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: contain;
  justify-content: center;
}
.edit-panel .change-layout.before-change {
  height: 161px;
  transform: translate(0px, 10px);
  background-image: url(./Images/before-Image.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: contain;
  justify-content: center;
}
.alt {
  cursor: pointer;
}
.edit-panel .alt1 {
  height: 90px;
  background-image: url(./Images/alt1.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: contain;
  margin-top: 22px;
  justify-content: center;
}
.edit-panel .alt2 {
  height: 130px;
  background-image: url(./Images/alt2.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: contain;
  justify-content: center;
}
.edit-panel .alt3 {
  height: 150px;
  background-image: url(./Images/alt3.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: contain;
  justify-content: center;
}
.edit-panel .alt4 {
  height: 125px;
  background-image: url(./Images/alt4.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: contain;
  justify-content: center;
}

.edit-panel .change-button {
  display: flex;
  align-items: center;
  padding: 8px 16px 9px 16px;
  background-color: var(--blue--main);
  color: white;
  border-radius: 100px;
  border: 1px solid #0000001c;
  cursor: pointer;
  transform: translate(5px, -16px);
}
.edit-panel .change-button svg * {
  fill: white !important;
}
.edit-panel .content-container {
  height: calc(100vh - 180px);
  padding: 20px;
  overflow: scroll;
}
.edit-panel .background-trigger {
  display: flex;
  align-items: center;
  padding: 9px 12px 9px 6px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #0000001c;
  height: 100px;
  margin-top: 12px;
  border-bottom: none;
  cursor: pointer;
}
.edit-panel .background-actions {
  background: white;
  display: flex;
}

.edit-panel .background-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 12px 9px 6px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #0000001c;
  flex-grow: 23;
  cursor: pointer;
}
.edit-panel .options-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0 5px;
}
.edit-panel .change-style {
  margin-top: 24px;
  margin: 24px 0px 0px 0px;
}
[option-value="underline"] {
  transform: translate(0px, 1px);
}
.edit-panel .section-panel-options {
  display: flex;
  margin-top: 6px;
  justify-content: space-between;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #0000001c;
  padding: 9px 12px 9px 6px;
  transform: translate(0px, 3px);
}
.edit-panel .text-input {
  align-items: center;
  padding: 12px 12px 9px 9px;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  border: 1px solid #0000001c;
  height: 90px;
  border-top: none;
  margin-top: 0px;
  cursor: pointer;
  font-size: 14px;
}

.edit-panel .Button .style-container {
  padding-top: 10px;
}
.edit-panel .Button .text-input {
  align-items: center;
  padding: 12px 12px 9px 9px;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  border: 1px solid #0000001c;
  height: 20px;
  border-top: 1px solid #0000001c;
  margin-top: 0px;
  cursor: pointer;
  font-size: 14px;
}
.section-panel-options .options-wrapper .option-button {
  --btn-size: 22px;
  padding: 6px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
.options-wrapper .option-button:hover {
  background-color: #0000000c;
}

.edit-panel .change-style.Title .text-input {
  align-items: center;
  padding: 12px 12px 9px 9px;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  border: 1px solid #0000001c;
  height: 30px !important;
  border-top: none;
  margin-top: 0px;
  cursor: pointer;
  font-size: 14px;
}

.edit-panel .change-background {
  margin-top: 20px;
}
.edit-panel .highlight .section-panel-options {
  border: 1px solid #9bb9f8;
}
.edit-panel .highlight .text-input {
  border: 1px solid #9bb9f8;
  padding: 12px 12px 9px 9px;
  background-color: #f4f7fd !important;
  border-radius: 0px 0px 3px 3px;
  height: 90px;
  border-top: none;
  margin-top: 0px;
  cursor: text;
  font-size: 14px;
}

.edit-panel .highlight.Title .text-input {
  border: 1px solid #9bb9f8;
  padding: 12px 12px 9px 9px;
  background-color: #f4f7fd !important;
  border-radius: 0px 0px 3px 3px;
  height: 90px;
  border-top: none;
  margin-top: 0px;
  cursor: text;
  font-size: 14px;
}
.edit-panel .highlight.Button .text-input {
  border: 1px solid #9bb9f8;
  padding: 12px 12px 9px 9px;
  background-color: #f4f7fd !important;
  border-radius: 0px 0px 3px 3px;
  height: 20px;
  border-top: 1px solid #9bb9f8;
  margin-top: 0px;
  cursor: text;
  font-size: 14px;
}
.hlight {
  position: relative;
}

h1.hlight:before {
  content: "";
  min-width: 200px !important;
  display: block;
  position: absolute;
  height: 50px;
  z-index: 9999;
  border: 1px solid var(--blue--light);
  background-color: #ffffff1c;
}

.hlight:before {
  content: "";
  width: 100% !important;
  display: block;
  position: absolute;
  height: 100%;
  z-index: 9999;
  border: 1px solid var(--blue--light);
  background-color: #ffffff1c;
}
.sec-sub-tit {
  color: #0000005c;
  font-size: 12px !important;
  font-weight: 900 !important;
  text-transform: uppercase;
}
[content="edit"] .switch-content {
  display: none;
}
[content="switch"] .edit-panel-content {
  display: none;
}

.attach-to-me {
  z-index: 9999999999;
  border-bottom: 3px solid var(--blue--main);
}

.attach-to-me .attach-to-section {
  width: 100%;
  z-index: 99999999999999999999;
  height: 100%;
  display: flex;
  pointer-events: none;
  border: 3px solid var(--section-selection);
  background-color: var(--section-selection-opacity);
  opacity: 1;
}

.attach-to-me .attach-to-section .attach-banner {
  display: flex;
  position: absolute;
  background-color: var(--section-selection);
  color: var(--section-selection-light);

  z-index: 99999999999999999;
  padding: 6px 12px;
  border-radius: 2px;
  top: 22px;
  left: calc(50% - 50px);
  font-size: 14px;
}
.attch .Add-Section {
  display: none;
}
.ser {
  font-family: "DM Serif Display" !important;
}
.dance {
  font-family: "Dancing Script", cursive !important;
  font-weight: 900;
}
.top-menu-items .menu-item {
  color: var(--template-dark);
}
.tmp-2 {
  background-color: #061645 !important;
}
.alt svg {
  opacity: 0;
}
.alt.selected svg {
  opacity: 1;
}
.contact-strip * {
  font-family: var(--template-font-1);
}
#left-panel .menu-item.selected > div {
  background-color: #d6e6ff !important;
  border-color: #80b1ff;
}
#left-panel
  ol
  > li:not(.ui-sortable-helper).selected:not(.editable)
  > div:after {
  content: url(./Images/elips.svg);
  width: 22px;
  display: flex;

  align-items: top;
  justify-content: center;
  height: 22px;
  border-radius: 100px;
  cursor: pointer;
  border: 2px solid rgba(0, 102, 255, 0.226);
  position: absolute;
  right: 4px;
}
