.strip {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Madefor Display";
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-color: white;
}
.origin-strip {
  z-index: 999999;
}

.strip.hovered {
  z-index: 5 !important;
}
.strip.hovered.selected {
  z-index: 19 !important;
}
.strip.selected,
.strip.selected * {
  z-index: 5;
}
.strip.parent-select,
.strip.parent-select * {
  z-index: 5;
}
.strip.hovered .element-container {
  z-index: 3;
}

.strip.hovered:before {
  content: attr(hat);
  position: absolute;
  top: -22px;
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: #e1f0ff;
  color: var(--blue--main);
  z-index: 999999999999999999;
  opacity: 1;
}
.strip.selected:before {
  content: attr(hat);
  position: absolute;
  top: -22px;
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: var(--blue--main);
  color: white;
  z-index: 999999999999999999;
  opacity: 1;
}

.strip:not(.selected).hovered:after,
.strip.parent-select:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: calc(100% - 8px);
  height: calc(100% - 6px);
  outline: 3px solid var(--blue--light);
}
.parent-select.strip:before {
  content: attr(hat);
  position: absolute;
  top: -22px;
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: #e1f0ff;
  color: var(--blue--main);
}

.element-container:not(.strip):hover:before {
  content: attr(hat);
  position: absolute;
  top: -22px;
  font-family: "Madefor";
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: var(--blue--light);
  color: var(--blue--main);
}

.element-container:not(.strip):not(.on-the-move).selected:before {
  content: attr(hat);
  position: absolute;
  top: -22px;
  font-family: "Madefor";
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: var(--blue--main);
  color: white;
}
.element-container.on-the-move:before {
  opacity: 0 !important;
}
.element-container:not(.strip):not(.selected):hover:after {
  outline: 1px solid var(--blue--light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.element-container:not(.strip).selected:after {
  outline: 1px solid var(--blue--main);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.strip.selected:after {
  content: "";
  position: absolute;
  left: 5px;
  width: calc(100% - 8px);
  height: calc(100% - 6px);
  outline: 3px solid var(--blue--main);
  z-index: -100;
}

.parent-select .Add-Section,
.parent-select .Add-Section * {
  opacity: 0 !important;
}

.edit-left #adi-panel[type="edit"] {
  right: unset !important;
  left: 60px !important;
  top: 44px;
}

.element-container {
  user-select: none;
}
.on-the-move {
  cursor: move !important;
}

#stage.dragging .origin-strip:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: calc(100% - 8px) !important;
  height: calc(100% - 6px) !important;
  outline: 3px solid var(--blue--light);
}
#stage.dragging .origin-strip:before {
  content: attr(hat);
  position: absolute;
  top: -22px;
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: #e1f0ff;
  color: var(--blue--main);
  z-index: 999999999999;
}
#stage.dragging .origin-strip .hpp {
  background-color: #116dff !important;
  color: #ffffff !important;
  opacity: 1 !important;
}
.strip.footer.selected:before {
  content: "Footer";
  position: absolute;
  top: -22px;
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: #ea7034;

  color: white;
  z-index: 999999999999999999;
  opacity: 1;
}
.strip.footer.parent-select:before {
  content: "Footer";
  position: absolute;
  top: -22px;
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: #ea7034;
  color: white;
  z-index: 999999999999999999;
  opacity: 1;
}

.strip.footer:not(.selected).hovered:before {
  content: "Footer";
  position: absolute;
  top: -22px;
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: #f9e3d4;
  color: #ea7034;
  z-index: 999999999999999999;
  opacity: 1;
}

.strip.footer:not(.selected).hovered {
  z-index: 99;
}

.footer .hpp {
  display: none;
  opacity: 0 !important;
  pointer-events: none;
}

.footer.parent-select:after,
.footer.selected:after {
  content: "";
  position: absolute;
  top: 3px;
  left: -1px;
  width: 100%;
  height: 100%;
  outline: 3px solid #ea7034;
}
.footer:not(.selected).hovered:after {
  content: "";
  position: absolute;
  top: 3px;
  left: -1px;
  width: 100%;
  height: 100%;
  outline: 3px solid #f9e3d4;
}
#stage.dragging .origin-strip.footer:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  width: 100%;
  height: 100%;
  outline: 3px solid #f9e3d4;
}
#stage.dragging .origin-strip.footer:before {
  content: "Footer";
  position: absolute;
  top: -22px;
  left: -1px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  background-color: #f9e3d4;
  color: #ea7034;
}
#stage.dragging .attach-to-me.footer .attach-to-section {
  display: flex;
  position: absolute;
  background-color: #ea7034;
  color: white;
  z-index: 999999999999;
  padding: 6px 12px;
  border-radius: 2px;
  top: 10px;
  left: calc(50% - 50px);
  font-size: 14px;
}
.header:before {
  top: 100% !important;
  border-radius: 0px 0px 3px 3px !important;
}

.header:hover:not(.selected):before {
  top: 100% !important;
  background-color: #f8cbb3 !important;
  border-radius: 0px 0px 3px 3px !important;
  color: #fb6718;

  font-size: 16px;
}
.header.selected:before {
  display: none;
}
.header.parent-select:before {
  display: none !important;
}
.header {
  height: 79px;
  z-index: 99999999999999 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px 0px 20px !important;
}
.header:hover {
  z-index: 99999 !important;
}
.footer {
  top: 18px;
  height: 179px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px 0px 15px;
  background-color: #9b7da0;
}
.footer:before {
  top: -28px !important;
  border-radius: 0px 0px 3px 3px !important;
}

.footer:hover:not(.selected):before {
  background-color: #f8cbb3 !important;
  border-radius: 0px 0px 3px 3px !important;
  color: #fb6718;
  font-size: 16px;
}
.footer.selected:before {
  display: none;
}
.footer.parent-select:before {
  display: none !important;
}
.top-menu-items:not(.logo) {
  right: 15px;
  padding: 10px;
}
.footer .top-menu-items {
  z-index: 999999999999 !important;
}

.header:hover:not(.selected):after {
  background-color: #ffb08656 !important;
  outline: none !important;
  border-bottom: 1px solid #ff6600 !important;
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  z-index: -10 !important;
  width: 100% !important;
}

.header.parent-select:not(.selected):after {
  background-color: #ffb08656 !important;
  outline: none !important;
  border-bottom: 1px solid #ff6600 !important;
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  z-index: -10 !important;
  width: 100% !important;
}

.header.selected:after {
  outline: 3px solid #ff6600 !important;
}

.header.selected:before {
  background-color: #ff6600;
}

.footer:hover:not(.selected):after {
  background-color: #ffb08656 !important;
  outline: none !important;
  border: 1px solid #ff6600 !important;
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  width: 100% !important;
  z-index: -10 !important;
}
.footer.selected:after {
  outline: 3px solid #ff6600 !important;
}

.footer.selected:before {
  background-color: #ff6600;
}

.top-menu-items .menu-item {
  pointer-events: none;
}
.header .top-menu-items #gfpp {
  transform: translate(-100px, 120px) !important;
}

.top-menu-items.selected:after {
  outline: 1px solid #ff6600 !important;
}

.top-menu-items.selected:before {
  background-color: #ff6600 !important;
}

.top-menu-items:hover:not(.selected):before {
  background-color: #ffcaae !important;
  color: #ff6600;
}

.top-menu-items.selected:before {
  background-color: #ff6600;
}

.top-menu-items:before {
  border-radius: 0px 0px 3px 3px !important;
}
.top-menu-items:hover:not(.selected):after {
  content: "";
  border: 1px solid #ffcaae !important;
  position: absolute;
  outline: none !important;
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  width: 100% !important;
}
.top-menu-items:hover:not(.selected) {
  content: "";
  border: 0px solid #ffcaae !important;
}
