.hpp {
  display: flex;
  align-items: center;
  z-index: 99999;
  transform: scale(1) translate(0px, 0px);
  background-color: #116dff;
  top: 22px;
  left: 22px;
  padding: 6px 6px;
  position: absolute;
  font-family: "Madefor";
  white-space: nowrap;
  opacity: 0;
  border-radius: 3px;
  box-shadow: 3px 6px 10px 0 #00000023;
}
.hpp-right .hpp {
  left: unset;
  right: 0;
}

.section.clicked .hpp,
.section.selected .hpp {
  opacity: 1 !important;
  pointer-events: all !important;
  z-index: 99999999;
}

.section:not(.clicked) .element-container:not(.section) {
  pointer-events: none;
}
.section.clicked .hpp {
  opacity: 1 !important;
  pointer-events: all !important;

  z-index: 99999999;
}
.hpp * {
  color: white;
  fill: white;
  font-size: 14px;
}
.hpp svg {
  margin-right: 3px;
  width: 15px;
}
.hpp-btn {
  opacity: 0.8;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}
.hpp-btn.main-action {
  padding: 3px 14px 3px 9px;
  display: flex;
  margin-right: 8px;
  align-items: center;
  border-right: 1px solid #ffffff5c;
}

.hpp-btn:hover {
  opacity: 1 !important;
  cursor: pointer;
}

.parent-select .hpp {
  background-color: #116dffaa;
  color: #ffffffaa;
}
